@import url("https://fonts.googleapis.com/css?family=Open+Sans&display=swap");

.Proba {
    font-family: "Open Sans", sans-serif;
    color: red;
}

.base-container {
    color: white;
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: left;
    font-family: "Open Sans", sans-serif;
    font-size: 16px;
    margin-top: -3em;
    padding: 2em;
    border-collapse:collapse;
}

.info {
    font-size: 20px;
    font-family: "Open Sans", sans-serif;
    text-align: left;
    padding: 2em;

    color: white;
}

.color {
    background-color: darken($color: #000000, $amount: 0);
    height: 40px;
    color: white;
    font-family: "Open Sans", sans-serif;
    padding: 1em;
    vertical-align: center;
    font-size: 25px;
}

.base-comment {
    color: white;
    width: auto;
    align-items: left;
    font-family: "Open Sans", sans-serif;
    font-size: 16px;
    margin-top: -8em;
    border-collapse:collapse;
    height: 100px;
}

.comment {
    width: 90%;
    text-align: center;
    border: 2em;
    padding: 1em;
    margin-top: 1em;
    margin-bottom: -6em;
    margin-left: 2em;
    background-color: gray;
}

.user {
    width: 90%;
    text-align: center;
    border: 2em;
    padding: 1em;
    margin: 2em;
    margin-top: 10em;
    margin-bottom: 1em;
    background-color: black;
}

.input{
    width: 90%;
    margin-left: 3em;
    margin-top: 1em;
}

.postBtn{
    background-color: black;
    color: white;
    font-size: 20px;
    font-family: "Open Sans", sans-serif;
    padding: 0.5em;
    width: 10%;
    margin-left: 2em;

}

.starRow{
    color: white;
    margin-left: 2em;
    margin-bottom: 1em;
    margin-top: 1em;
    font-family: "Open Sans", sans-serif;
    font-size: 20px;
}

.error{
    margin: 1em;
    color: rgb(158, 7, 7);
    font-family: "Open Sans", sans-serif;
    font-size: 14px;
}

