.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 75%;
  height: 100%;
  margin-top: 6rem;
}

.centerd {
  position: absolute;
  top: 55%;
  left: 26.5%;
  transform: translate(-50%, -50%);
  color: white;
  font-family: Impact, fantasy;
  font-size: 40px;
}

.centerd1 {
  position: absolute;
  top: 67%;
  left: 47%;
  transform: translate(-50%, -50%);
  color: white;
  font-family: "Arial Black", Gadget, sans-serif;
  font-size: 20px;
}

.title {
  position: absolute;
  top: 86%;
  left: 4%;
  color: white;
}


.button {
  color: #fff !important;
  text-transform: uppercase;
  text-decoration: none;
  background: #1C7E3E;
  padding: 13px;
  border-radius: 13px;
  display: inline-block;
  border: none;
  transition: all 0.4s ease 0s;
}

.Row {
  display: table;
  margin-top: 1rem;
  margin-left: 81rem;
}
.Column {
  display: table-cell;
  float: left;
  margin-right: 1rem;
}

.title2 {
  display: flex;
  margin-left: 4%;
  color: white;
}