.spacer {
  margin-top: 50px;
}

.container {
  margin-top: 6rem;
  color: white;
}

.create-button {
  color: #fff !important;
  text-transform: uppercase;
  text-decoration: none;
  background: #1C7E3E;
  padding: 13px;
  border-radius: 13px;
  display: inline-block;
  border: none;
  transition: all 0.4s ease 0s;
}


.forma1 label {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    text-align: right;
    width: 400px;
    line-height: 26px;
    margin-bottom: 10px;
}

.proba {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  text-align: right;
  width: 400px;
  line-height: 26px;
  margin-bottom: 10px;
}  

.forma1  input {
    height: 25px;
    flex: 0 0 200px;
    margin-left: 10px;
    border-radius: 10px;
}

.forma1 select {
  height: 25px;
  margin-left: 10px;
  border-radius: 10px;
}

.create-btn {
  color: #fff !important;
  text-transform: uppercase;
  text-decoration: none;
  background: #1C7E3E;
  padding: 13px;
  border-radius: 13px;
  display: inline-block;
  border: none;
  transition: all 0.4s ease 0s;
}

.list-name__input {
  height: 25px;
  flex: 0 0 200px;
  margin-left: 10px;
  border-radius: 10px;
}
   