.toolbar {
  position: absolute;
  z-index: 999;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background: #000000;
  height: 70px;
}

.toolbar__navigation {
  display: flex;
  height: 100%;
  align-items: center;
  padding: 0 0.5rem;
}
.toolbar__logo a {
  color: white;
  text-decoration: none;
  font-size: 1.5rem;
}

.toolbar__logo img {
  position: relative;
  height: 100%;
  width: 100%;
}

.toolbar__logo {
  margin-left: 0.5rem;
}

.toolbar__logo img {
  position: relative;
  top: 15px;
  height: 65px;
  width: 120px;
  margin-right: 1rem;
}
.toolbar_navigation-items a {
  color: white;
  text-decoration: none;
}

.spacer {
  flex: 1;
}

.toolbar_navigation-items ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}

.toolbar_navigation-items li {
  margin-right: 1rem;
  padding: 0 0.5rem;
}

.toolbar_navigation-items a:hover,
.toolbar_navigation-items a:active {
  color: #fbd46d;
}
.loginLink {
  margin-right: 10px;
}
